---
layout: default
---
<h1>{{ page.title }}{{ page.shortUrl }}</h1>
<div class='separator'></div>
        
{{ content }}
        
{% if site.disqus-id %} {% include comments.html %} {% endif %}



	<!--添加分类-->
	 {%if page.categories.size > 0 %}
		  <div class="blog-tags">
		  Category：
		{%if post %}
			{%assign categories = post.categories %}
		{%else %}
			{%assign categories = page.categories %}
		{%endif %}
		{%for category in categories %}
			<a href="{{site.baseurl}}/categories/#{{category|slugize}}">{{category}}</a>
			{%unless forloop.last %}&nbsp;{%endunless %}
			{%endfor %}
		</div>
	{%endif %}
<!-- add tags -->
<span>[
  {% for tag in page.tags %}
      {% capture tag_name %}{{ tag }}{% endcapture %}
          <a href="/tag/{{ tag_name }}"><code class="highligher-rouge"><nobr>{{ tag_name }}</nobr></code>&nbsp;</a>
            {% endfor %}
            ]</span>
